:root
{
    --Scale: 3;
    --Width: 10;
    --Heigth: 20;
    --Border: 1;
}

#stack {
    display: inline-block;
    width: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * var(--Width));
    height: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * var(--Heigth));
    border: solid 1px black;
    /*border-top: 0px;*/
}

.brick {
    width: calc(10px * var(--Scale));
    height: calc(10px * var(--Scale));
    border-style: solid;
    border-color: white;
    border-width: calc(var(--Border) * 1px);
    background: white;
    float: left;
}
.Window{

    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    position: center;
}

.Info_Bar{
    width: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * 4  + 20px);
    height: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * var(--Heigth));
    border: solid 1px black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;


}

.Future_Figure{

    border: solid 10px white;
    width: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * 4);
    height: calc( (10px * var(--Scale) + 2*var(--Border)*1px ) * 5 );
    border-bottom: 0px;

}

.brick.on {
    background: black;
}

.brick.now,.brick.Future {
     background: green;
 }

.Score_Style{
    font-size: 18px;
    margin-top: calc( (10px * var(--Scale)));
    text-align: center;
}